# Django Settings
DEBUG=1
SECRET_KEY=django-insecure-change-this-in-production-1234567890
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]

# Database Configurations
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=djangobnb
SQL_USER=postgres
SQL_PASSWORD=postgres
SQL_HOST=db
SQL_PORT=5432

# Production Website URL Override
WEBSITE_URL=http://localhost:8000

# production channels clustering (uncomment and configure if scaling websocket connections)
# REDIS_HOST=redis
